importFrom("stats", "coef", "lm", "predict", "rbinom", "rnorm")

import(kernlab)
import(MASS)
import(glmnet)
import(Matrix)
import(foreach)
import(WeightSVM)
 
S3method(predict, ql)
S3method(predict, owl)
export(sim_Kstage, ql, owl, predict.ql, predict.owl)